body {
  /* border: 1px solid black; */
  padding: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #222;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.pageLayout {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  gap: 20px;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
td,
th {
  padding: 10px;
}
.heading {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.heading h1 {
  /* text-align: center; */
  padding-top: 30px;
  font-size: 50px;
  word-spacing: 3px;
  letter-spacing: 3px;
}
.heading span {
  /* text-align: justify; */
  max-width: 1200px;
  /* width: 800px; */
  padding: 5px;
  /* word-spacing: 1px; */
  letter-spacing: 1.2px;
  /* border: 1px solid black; */
  line-height: 1.4;
  font-weight: 400;
}
h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#skills li {
  line-height: 1.7;
  font-weight: 400;
}

/* #skills {
  border: 1px solid black;
  max-width: 1200px;
}

#experience {
  max-width: 1365px;
} */
#experience ul span {
  font-size: 17px;
}
#experience li {
  line-height: 1.7;
  font-weight: 400;
}

.exp_company {
  display: flex;
  flex-direction: column;
  /* margin-left: 60px; */
}
.exp_company h4,
span {
  padding-left: 30px;
}
.education {
  /* max-width: 1300px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contact {
  /* max-width: 1100px; */
}
