table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
td,
th {
  padding: 10px;
}
.heading {
  padding-top: 10px;
}
.heading h3 {
  padding-top: 10px;
  padding-left: 50px;
}
.heading h1 {
  text-align: center;
}
.heading p {
  text-align: justify;
}
